github "realm/realm-cocoa"
github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire"
github "0x73/SwiftIconFont"
github "onevcat/Kingfisher"
github "AliSoftware/OHHTTPStubs"
github "Quick/Quick"
github "Quick/Nimble"
